body {
  height: 100%;
} 

.homebackground { 
  /* The image used */
  background-image: url("/backgrounds/conquer_dark.png");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;

}

/* links */


/* nav */
.header-wrapper{
  padding-left: 5%;
}
header {position: fixed;}
header nav ul, footer ul { font-size: 1em; font-family: 'Helvetica', 'Arial', 'Sans-Serif'; padding: 0px; list-style: none; font-weight: bold; }
header nav ul li { display: inline-block; margin-right: 20px; transition: all .2s ease-in-out;}
header nav ul li:hover {transform: scale(1.1);}
header nav ul li a { text-decoration: none; color: #D3D3D3; }
header nav ul li a:hover {
  filter: brightness(0) invert(1);
  text-decoration: underline;
}

/* Footer */
/* .default-footer {
  padding: 20px;
}
.footer-wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
} */

/*thoughtListDiv*/
.thoughtListDiv {
  position: fixed;
  top: 5%;
}

.postBlock {
  position: fixed;
  top: 5%;
}
.postBlock h1 { align-content: center;}

.outerTitleHead {
  text-align: center;

}

.innerTitleHead {
  font-family: "Lucida Console", Monaco, monospace;
  position: fixed;
  top: 30%;
  color: white;
  margin-left: 10%;
  margin-right: 10%;
  
}

.icon {
  width: 40px;
  height: 40px;
  
}

.instaIcon {
  width: 35px;
  height: 35px;
}

.icon a {
  display: block;
  transition: 0.3s;
}

.icon:hover {
  filter: brightness(0) invert(1);
  transition: all .2s ease-in-out;
  transform: scale(1.25, 1.25);
}


