<html lang="en" >

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-K5V0PPRHB9"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-K5V0PPRHB9');
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" type="image/png" href="/icons/logo.png" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/thoughts">Thoughts</a></li>
            </ul>
        </nav>
    </header>

    <div>
        {{ content }}
    </div> 

</body>