<html lang="en" class="homebackground">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" type="image/png" href="/icons/logo.png" />
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/thoughts/">Thoughts</a></li>
        </ul>
    </nav>

    {{ content }}

</body>