<html lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <!-- Add Google Analytics -->


        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <title>{{ page.title }}</title>
        <link rel="shortcut icon" type="image/png" href="/icons/logo.png" />
    </head>
       
    <body>
        <section id="header">
            <header>
                    <nav>
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/thoughts">Thoughts</a></li>
                        </ul>
                    </nav>
            </header>
        </section>
        <div class="content">
            <section id="Title">
                <div>
                    {{ page.title }}
                </div>
            </section> 
            <section id="Gallery">
                <ul>
                    {% for post in site.posts %}
                        <li><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}<br><span>{{ post.date }}</span></a></li>
                    {% endfor %}
                </ul>
            </section> 
        </div>
        
        <!-- <footer>
            Test Footer
        </footer> -->
    </body>
</html>